body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper {
  width: 1200px;
  height: 400px;

}

.swiper{
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
}

.swiper-jd{
  position: relative;
}

.article-container {
  height: 300px; /* 고정된 높이 설정 */
}



.swiper-button-prevCard,
.swiper-button-nextCard {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prevCard svg,
.swiper-button-nextCard svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}

.swiper-button-prevCard.swiper-button-disabled,
.swiper-button-nextCard.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prevCard.swiper-button-hidden,
.swiper-button-nextCard.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prevCard,
.swiper-navigation-disabled .swiper-button-nextCard {
  display: none !important;
}
.swiper-button-prevCard svg,
.swiper-button-nextCard svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}
.swiper-rtl .swiper-button-prevCard svg,
.swiper-rtl .swiper-button-nextCard svg {
  transform: rotate(180deg);
}
.swiper-button-prevCard,
.swiper-rtl .swiper-button-nextCard {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prevCard {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-lock {
  display: none;
}
/* Navigation font start */
.swiper-button-prevCard:after,
.swiper-button-nextCard:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prevCard:after,
.swiper-rtl .swiper-button-nextCard:after {
  content: 'prev';
}
.swiper-button-nextCard,
.swiper-rtl .swiper-button-prevCard {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-nextCard:after,
.swiper-rtl .swiper-button-prevCard:after {
  content: 'next';
}



@tailwind base;
@tailwind components;
@tailwind utilities;