body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper {
  width: 1200px;
  height: 300px;

}

.swiper{
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
}

.swiper-jd{
  position: relative;
}

.article-container {
  height: 250px; /* 고정된 높이 설정 */
}





@tailwind base;
@tailwind components;
@tailwind utilities;